page-task-create-category {
             
  #buttonWrapper{
    text-align: center;
  }

  textarea.text-input {
    display: block;
    height: 150px;
 }


    .button{
      margin-top: 20px;
      border-radius: 10px;
      width: 90%;
      background: rgb(32, 55, 206);
    }

}
