
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isSearchbarOpened">
        Your Day
    </ion-title>
    <ion-searchbar *ngIf = "isSearchbarOpened" showCancelButton = "true" (ionInput)="getItems($event)" (ionCancel) = "isSearchbarOpened = false"></ion-searchbar>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button> -->
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only *ngIf = "!isSearchbarOpened" (click)="isSearchbarOpened = true">
          <ion-icon name = "search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="addItem()"><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>




<ion-content>
  <!-- Missed Items -->
    <ion-list class="login-sliding-demo" >
        <ion-item-divider *ngIf="missedItems?.length > 0" color="light">Missed</ion-item-divider>
        <ion-item-sliding *ngFor="let item of missedItems;" >
          <ion-item (click)="goToTaskDetail(item, item.id)">
             <h2>{{item?.taskTitle}}</h2>
              <h3>Description: <strong>{{item?.taskDescription}}</strong></h3>
              <p>{{item?.taskDate}}</p>
            </ion-item>
  
          <ion-item-options side="left">
              <button ion-button color="danger" (click)="deleteFB(item.id)">
                <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
          </ion-item-options>
  
          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="addToCompletedTasks(item)">
                  <ion-icon name="checkmark"></ion-icon>
                  Complete
                </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>


      <!-- Todays Items -->
    <ion-list class="login-sliding-demo" >
        <ion-item-divider *ngIf="todaysItems?.length > 0" color="light">Today</ion-item-divider>
        <ion-item-sliding *ngFor="let item of todaysItems;" >
  
          <ion-item (click)="goToTaskDetail(item, item.id)">
             <h2>{{item?.taskTitle}}</h2>
              <h3>Description: <strong>{{item?.taskDescription}}</strong></h3>
              <!-- <p>{{item?.taskDate}}</p> -->
            </ion-item>
  
          <ion-item-options side="left">
              <button ion-button color="danger" (click)="deleteFB(item.id)">
                <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
          </ion-item-options>
  
          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="addToCompletedTasks(item)">
                  <ion-icon name="checkmark"></ion-icon>
                  Complete
                </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>


      <!-- Tomorrows Items -->
      <ion-list class="login-sliding-demo" >
          <ion-item-divider  *ngIf="tomorrowsItems?.length > 0" color="light">Tomorrow</ion-item-divider>
          <ion-item-sliding *ngFor="let item of tomorrowsItems;" >
    
            <ion-item (click)="goToTaskDetail(item, item.id)">
               <h2>{{item?.taskTitle}}</h2>
                <h3>Description: <strong>{{item?.taskDescription}}</strong></h3>
                <!-- <p>{{item?.taskDate}}</p> -->
              </ion-item>
    
            <ion-item-options side="left">
                <button ion-button color="danger" (click)="deleteFB(item.id)">
                  <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
            </ion-item-options>
    
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="addToCompletedTasks(item)">
                    <ion-icon name="checkmark"></ion-icon>
                    Complete
                  </button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>



        
      <!-- Upcoming Items -->
      <ion-list class="login-sliding-demo" >
          <ion-item-divider *ngIf="upcomingItems?.length > 0" color="light">Future</ion-item-divider>
          <ion-item-sliding *ngFor="let item of upcomingItems;" >
    
            <ion-item (click)="goToTaskDetail(item, item.id)">
               <h2>{{item?.taskTitle}}</h2>
                <h3>Description: <strong>{{item?.taskDescription}}</strong></h3>
                <p>{{item?.taskDate}}</p>
              </ion-item>
    
            <ion-item-options side="left">
                <button ion-button color="danger" (click)="deleteFB(item.id)">
                  <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
            </ion-item-options>
    
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="addToCompletedTasks(item)">
                    <ion-icon name="checkmark"></ion-icon>
                    Complete
                  </button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>


      <!-- Plus button -->
    <ion-fab right bottom>
      <button ion-fab (click)="addItem()" color="light"><ion-icon name="add" (click) = "addItem()"></ion-icon></button>
    </ion-fab>
</ion-content>