page-home {
    .dividerAlign{
        text-align: center;
        background: rgb(177, 204, 221);
        font-weight: 1000;
        
    }
    
    .dividerAlign:hover{
        text-align: center;
    }
    
    .addButton{
        background-color: rgb(68, 93, 247)
    }
    
    .ion-md-add{
        color: white;
    }
    

    #empty{
        height: 96%; 
        width: 96%; 
        position: relative;
    }

    img{
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

}
