<ion-header>
  <ion-navbar color="burple">
    <ion-title>Categories</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addItem()"><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- <div *ngIf ="categoriesList"> 
        {{categoriesList | json}}
  </div> -->
  <!-- <div *ngIf ="alphabeticColors"> 
        {{alphabeticColors | json}}
  </div> -->
  <ion-card class="card" *ngFor="let category of categoriesList;">
      <ion-item (click)="openCategory(category.categoryName)">
      <button ion-button *ngIf="category.categoryName != 'Default'" (click)="deleteCategory($event, category)" icon-only item-right clear>
        <ion-icon name="close"></ion-icon>
      </button>
      <ion-avatar item-start>
          <ion-text-avatar color = "burple">{{category.categoryLetter}}</ion-text-avatar>

        <!-- <ion-text-avatar color = "secondary">{{category.categoryLetter}}</ion-text-avatar> -->
      </ion-avatar>
      <h2>{{category.categoryName}}</h2>
      <p>{{category.categoryCount}} ITEMS</p>
    </ion-item>
  </ion-card> 
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type to create a task..." name="message" [(ngModel)]="categoryToCreate"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="doSomething(categoryToCreate)">
        <ion-icon name="arrow-up"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>