page-task-create {
    textarea{
        background-color: yellow;
        height: 100%;
    }


    textarea.text-input {
        display: block;
        height: 150px;
     }

     #buttonWrapper{
        text-align: center;
      }
    
      .button{
        margin-top: 30px;
        border-radius: 10px;
        width: 90%;
        background: rgb(32, 55, 206);
      }
  }
    

