page-task-restore {

    #buttonWrapper{
        text-align: center;
      }
    
      .button{
        margin-top: 30px;
        border-radius: 10px;
        width: 50%;
        background: rgb(32, 55, 206);
      }

}

.textCenter{
    text-align: center;
}
